[Unit]
Description=Validator Manager
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=nodekeeper
ExecStart=/usr/local/bin/nodekeeper --root /var/nodekeeper validator

[Install]
WantedBy=multi-user.target
