[Unit]
Description=Validator Node
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=nodekeeper
LimitNOFILE=2048000
ExecStart=/var/nodekeeper/bin/node --configs /var/nodekeeper/node

[Install]
WantedBy=multi-user.target
